*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:end;
}
header nav ul{
    display: flex;
    margin-right: 20px;
    list-style: none;
}
header nav ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}
header nav ul li a:hover{
    color: #98E8CD;
}
.active{
    color: #98E8CD;
}


/* Inicio */

.inicio{
    background-color: black;
    min-height: calc(100vh - 80px);
    display: flex;
    
}
.inicio .apresentacao{
    color: white;
    position: absolute;
    top: 28%;
    left: 8%;
}
.inicio .apresentacao h1{
    font-size: 58px;
    margin-bottom: 10px;
}
.inicio .apresentacao h2{
    font-size: 28px;
    margin-bottom: 10px;
}
.inicio .apresentacao span{
    color: #A6A6A6;
}
.apresentacao .baixarCV{
    border: 1px solid #98E8CD;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    margin-top: 20px;
    margin-left: 8px;
}
.apresentacao .baixarCV a:hover{
    color: #98E8CD;
}
.apresentacao .baixarCV a{
    display: block;
    padding: 5px;
    text-decoration: none;
    color: white;
}
.apresentacao .logo-linkedin{
    background-color: white;
    width: 50px;
    height: 50px;
    margin-right: 40px;
    border-radius: 50%;
}
.apresentacao .logo-linkedin img{
    width: 50px;
    height: 50px;
    
}
.apresentacao .logos{
    display: flex;
    margin: 20px;
}
.apresentacao .logo-github{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apresentacao .logo-github img{
    width: 40px;
    height: 40px;
    
}

strong{
    color: #98E8CD;
}


/* sobre */
.sobre{
    min-height: 100vh;
    background-color: black;
}
.sobre h2{
    font-size: 50px;
    color: #98E8CD;
    margin-left: 10%;
}
.sobre-area{
    display: grid; 
    grid-template-columns: 1fr 1fr;  
    grid-template-rows: calc(100vh - 70px );
}
.sobre-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sobre-content p{
    color: white;
    font-size: 23px;
    text-align: justify;
}
.sobre .content{
    padding: 50px;
}

.sobre-imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.sobre-imagem img{
    max-width: 80%;
}




@media (min-width:300px) and (max-width:450px){
    header nav ul{
        display: flex;
        margin-right: 10px;
        list-style: none;
    }
    header nav ul li a{
        display: block;
        padding: 50px 10px;
        text-decoration: none;
        color: white;
    }
    .inicio .apresentacao h1{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .inicio .apresentacao h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .apresentacao .baixarCV{
        border: 1px solid #98E8CD;
        border-radius: 20px;
        text-align: center;
        width: 40%;
        margin-top: 20px;
        margin-left: 8px;
    }
    .sobre-area{
        display: grid; 
        grid-template-columns: 1fr;  
        grid-template-rows: calc(100vh - 50px );
    }
    .sobre-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -100px;
    }
    .sobre-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -100px;
    }
    
}

@media (min-width: 451px) and (max-width:700px){
    .sobre-area{
        display: grid; 
        grid-template-columns: 1fr;  
        grid-template-rows: calc(100vh - 50px );
    }
    .sobre-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -200px;
    }
    .sobre-imagem{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: -200px;
    }
}